pip==19.0.3
bumpversion==0.5.3
wheel==0.33.1
Sphinx==2.0.0
watchdog==0.9.0
coverage==4.5.3
sphinxcontrib-napoleon==0.7
tox==3.14.0
pytest==4.4.0
flake8==3.7.6
pyflakes==2.1.1
pyyaml>=4.2b1
cryptography==2.6.1
coveralls==1.7.0
twine==1.12.1
