Sphinx==3.4.3
pip==20.3.3
bumpversion==0.6.0
wheel==0.36.2
watchdog==1.0.2
coverage==5.3.1
sphinxcontrib-napoleon==0.7
flake8==3.8.4
tox==3.21.0
pytest==6.2.1
pyflakes==2.2.0
pyyaml>=4.2b1
cryptography==3.3.1
coveralls==3.0.0
twine==3.3.0
