pip==19.3.1
bumpversion==0.5.3
wheel==0.33.6
Sphinx==2.2.1
watchdog==0.9.0
coverage==4.5.4
sphinxcontrib-napoleon==0.7
tox==3.14.4
pytest==5.3.0
flake8==3.7.9
pyflakes==2.1.1
pyyaml>=4.2b1
cryptography==2.8
coveralls==1.8.2
twine==3.1.0
